.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:4px;
    border: none;
    background: none;
    padding:9px 12px;
    line-height: 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.250s ease-in-out;
}

.button--primary{
    background-color: #00ADB5;
    color: #FFFFFF;    
}

.button--secondary{
    border: 2px solid #00ADB5;
    color: #00ADB5;
}

.button--tertiary{
    color: #00ADB5;
}

.button--tertiary:hover{
    background-color: #bee2e4;
}